
<div class="alert alert-info alert-block animated shake hidden-xs"
     data-icon="i"
     role="alert"
     aria-live="polite"
     aria-labelledby="infoTitle"
     aria-describedby="unableDescription">

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>

  <h4 id="infoTitle">Welcome to the Department of Education and Training Schools Directory.</h4>

  <p>
    In Queensland there are 1236 state schools and 498 independent and catholic schools.
    Queensland state schools offer students a range of award winning programs, high quality teaching and pathways to university or training.
  </p>
  <br />
  <p>
    You can use the Schools Directory to find a school in your local area by searching on the school name or suburb.
    Alternatively, you can narrow your search by using the
    <strong>Region</strong> or <strong>Type of school</strong> fields or the map showing below.
  </p>
  <br />
  <p>
    For information on early childhood education programs and to find your nearest kindergarten program, visit the
    <a href="http://www.deta.qld.gov.au/earlychildhood/">Early Childhood </a> website.
  </p>
  <br />
  <p>
    If you are searching for a school that may have closed or changed its name please check the
    <a href="http://education.qld.gov.au/schools/directory/schoolchangesregister.xls" target="_blank">Register of Recent School Openings, Closures and Name Changes</a>.
  </p>
</div>