
<div class="tabbable tabs-container">
  
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab4" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab4">State schools</a></li>
    <li role="presentation"><a href="#tab5" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab4">Non-state school</a></li>
    <li role="presentation"><a href="#tab6" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab4">All schools and education centres</a></li>
    <li role="presentation"><a href="#tab7" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab4">Organisational units</a></li>

    <!--<ng-content></ng-content>-->

  </ul>


  <ng-content></ng-content>
</div>