
<div class="col-lg-12 animated slideInLeft">
	<tab-panel>
		<tab key="SS" name="State schools" active="true">
			<div class="form-group">
				<div class="col-lg-2">
					<div class="checkbox">
						<label>
							<input type="checkbox"> Check box 1
						</label>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="checkbox">
						<label>
							<input type="checkbox"> Check box 2
						</label>
					</div>
				</div>
				<div class="col-lg-5">
					<!--<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>-->
          <input type="text" ng2-selectize
                 [config]="multiSelectDynamicAddConfig"
                 [options]="dropdownData"
                 [placeholder]="multiSelectDynamicAddPlaceholder" />
				</div>
			</div>
		</tab>

		<tab key="NSS" name="Non-state school">
			<h2>Content 2 - Non-state school</h2>
		</tab>

		<tab key="ALL" name="All schools and education centres">
			<h2>Content 3 - All schools</h2>
		</tab>

		<tab key="ORG" name="Organisational units">
			<h2>Content 4 - Organisational units</h2>
		</tab>

		<tab key="FUN" name="Fun tab">
			<div>
				<p>This content contains a p inside a div</p>
			</div>
		</tab>

	</tab-panel>
</div>