
<!--<div class="col-lg-12">
  <div class="tabbable tabs-container">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab4" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab4">State schools</a></li>
      <li role="presentation"><a href="#tab5" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab4">Non-state school</a></li>
      <li role="presentation"><a href="#tab6" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab4">All schools and education centres</a></li>
      <li role="presentation"><a href="#tab7" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab4">Organisational units</a></li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="tab4">
        <div class="panel-body">
          <div class="input-group">
            <input type="text" placeholder="Enter to search specfic or leave blank to search all" name="search" class="form-control input-lg">
            <div class="input-group-btn">
              <button class="btn btn-lg btn-outline btn-primary" type="submit">
                Search
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab5"><div class="panel-body">2</div></div>

      <div class="tab-pane" id="tab6"><div class="panel-body">3</div></div>

      <div class="tab-pane" id="tab7"><div class="panel-body">4</div></div>
    </div>

  </div>
</div>-->

<div class="col-lg-12 animated slideInLeft">
  <tab-panel>
    <tab key="SS" name="State schools" active="true">
      <h2>Content 1 - State schools</h2>
    </tab>

    <tab key="NSS" name="Non-state school">
      <h2>Content 2 - Non-state school</h2>
    </tab>

    <tab key="ALL" name="All schools and education centres">
      <h2>Content 3 - All schools</h2>
    </tab>

    <tab key="ORG" name="Organisational units">
      <h2>Content 4 - Organisational units</h2>
    </tab>

    <tab key="FUN" name="Fun tab">
      <div>
        <p>This content contains a p inside a div</p>
      </div>
    </tab>

  </tab-panel>
</div>